<main class="main">
  <div class="content">
    <h1>Please add an expense</h1>


    <form [formGroup]="form">
      <label for="TransactionName">Transaction Name: </label>
      <input type="text" formControlName="TransactionName" placeholder="Transaction Name">
      <label for="TransactionPrice">Price: </label>
      <input type="number" formControlName="TransactionPrice" placeholder="Transaction Price">
      <label for="TransactionCategory">Category: </label>
      <input type="text" formControlName="TransactionCategory" list="categoryList" placeholder="Transaction Category">
      <datalist id="categoryList">
        @for (item of categories; track item.id) {
        <option [value]="item.categoryName"></option>
        } @empty {
        <option value="">No categories</option>
        }
      </datalist>
      <label for="TransactionDate">Date: </label>
      <input type="date" formControlName="TransactionDate" placeholder="Transaction Date">

    </form>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Date</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of transactions">
          <td>{{ t.TransactionName }}</td>
          <td>{{ t.TransactionPrice }}</td>
          <td>{{ t.TransactionDate }}</td>
          <td>{{ t.TransactionCategory }}</td>
         

        </tr>
      </tbody>
    </table>

    <button type="button" (click)="CreateTransaction()">Add Transaction</button>
  </div>
</main>


<router-outlet />
