<main class="main">
  <div class="content">
    <h1>Create Transaction Page</h1>


    <form [formGroup]="form">
      <label for="TransactionName">Transaction Name: </label>
      <input type="text" formControlName="TransactionName" placeholder="Transaction Name">
      <label for="TransactionPrice">Price: </label>
      <input type="number" formControlName="TransactionPrice" placeholder="Transaction Price">
      <label for="TransactionCategory">Category: </label>
      <input type="text" formControlName="TransactionCategory" list="categoryList" placeholder="Transaction Category">
      <datalist id="categoryList">
        @for (item of categories; track item.id) {
        <option [value]="item.categoryName"></option>
        } @empty {
        <option value="">No categories</option>
        }
      </datalist>
      <!--<datalist id="categoryList">
    @for (item of categories; track item.id) {
    <option[value]="item.categoryName"></option[value]>
    } @empty {
    <option value="">No items to display.</option>
    }
  </datalist>-->
      <label for="TransactionDate">Date: </label>
      <input type="date" formControlName="TransactionDate" placeholder="Transaction Date">

    </form>

    <ul>
      @for (item of transactions; track item.id) {
      <li>{{ item.transactionName }}</li>
      } @empty {
      <li>No items to display.</li>
      }
    </ul>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Date</th>
          <th>Category</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of transactions">
          <td>{{ t.transactionName }}</td>
          <td>{{ t.transactionPrice }}</td>
          <td>{{ t.transactionDate }}</td>
          <td>{{ t.categoryName }}</td>
          <td><button (click)="DeleteTransaction(t.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>

    <button type="button" (click)="CreateTransaction()">Add Transaction</button>
  </div>
</main>


<router-outlet />

<!--<main class="main">
  <div class="content">
    <h1>This is the dashboard</h1>
    <h1 id="UserName">Hello {{userName}}</h1>-->
    <!--<button type="button" (click)="checkForUser()">Check</button>-->
  <!--</div>
</main>


<router-outlet />-->
